.prdouctsContainer{
    display: flex;
    flex-wrap: wrap;
}

.singleProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem 1rem;
    margin-bottom: 3rem;
}

.singleProduct > a {
    outline: none;
    text-decoration: none;
}

.singleProduct__image {
    max-width: 18rem;
    max-height: 27rem;
}

.productPrice__section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 110%;
}

.priceNumber__box{
    background-color: #2a6592;
    color: white;
    font-weight: bold;
    padding: .4rem 1rem;
    align-items: center;
    border-radius: 5px;
    margin-top: 16px;
}

.addToCart__button{
    width: 70%;
    border: none;
    padding: .5rem;
    background-color: rgb(252, 227, 7);
    color: rgb(15, 53, 104);
    font-weight: bold;
    font-size: 110%;
    border-radius: 5px;
    margin-top: 1rem;
}

.addToCart__button:hover{
    cursor: pointer;
    background-color: rgb(243, 253, 99);
    transition: .5s ease-in-out;
}

.shoppingIcon{
    width: 30px;
    color: rgb(15, 53, 104);
}