.userForm__Container{
    position: absolute;
    width: 40%;
    height: fit-content;
    top: 15%;
    left: 30%;
    background-color: rgba(4, 39, 49, 0.9);
    border-radius: 10px;
    font-family: sans-serif;
    padding: 1rem;
    color: white;
}

.formHeading__section{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}

.closeFormMark__section{
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 1%;
    border: 1px solid white;
    padding: .001rem .2rem;
}

.submitButton__section{
    display: flex;
    justify-content: center;
    align-items: center;
}